NEXT_PUBLIC_SUPABASE_URL=vcfvzevcbhbznfillngl
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjZnZ6ZXZjYmhiem5maWxsbmdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NzAwODksImV4cCI6MjA4ODA0NjA4OX0.xjcjsyvvUZ_ZslUr2WBJ9TaPutDjPQBgP5j7AI79S9M
